<a href="https://colab.research.google.com/github/Simrita100/Simrita100/blob/main/Numbers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Basic Arithmetic

In [ ]:
# Addition
2+1

3

In [ ]:
# Subtraction
2-1

1

In [ ]:
# Multiplication
2*2

4

In [ ]:
# Division
3/2

1.5

In [ ]:
# Floor Division
7//4

1

In [ ]:
# Modulo
7%4

3

### Arithmetic continued

In [ ]:
# Powers
2**3

8

In [ ]:
# Can also do roots this way
4**0.5

2.0

In [ ]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [ ]:
# Can use parentheses to specify orders
(2+10) * (10+3)

156

## Variable Assignments

In [ ]:
# Let's create an object called "a" and assign it the number 5
a = 5

In [ ]:
# Adding the objects
a+a

10

In [ ]:
# Reassignment
a = 10

In [ ]:
# Check
a

10

In [ ]:
# Use A to redefine A
a = a + a

In [1]:
# Check 
a

NameError: ignored

In [ ]:
# Use object names to keep better track of what's going on in your code!
my_income = 100

tax_rate = 0.1

my_taxes = my_income*tax_rate

In [ ]:
# Show my taxes!
my_taxes

10.0