<a href="https://colab.research.google.com/github/Simrita100/Python/blob/main/practice_exercise_3_tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tp = ("hi", "hey", "howdy")
print(tp)

('hi', 'hey', 'howdy')

In [ ]:
tp = ("hi", "hey", "howdy", "hello")
print(len(tp))

4

In [ ]:
x = ("fruits",)
print(type(x))

<class 'tuple'>

In [ ]:
tpl_1 = ("dog", "cat")
tpl_2 = (1, 2)
tpl_3 = (False, True)
print(tpl_1)
print(tpl_2)
print(tpl_3)

('dog', 'cat')
(1, 2)
(False, True)

In [ ]:
s = ("animals", 10, True, 'birds')
print(s)

('animals', 10, True, 'birds')

In [ ]:
z = tuple(('a', 'b', 'c', 'd'))
print(z)

('a', 'b', 'c', 'd')

In [ ]:
print(s[1])

10

In [ ]:
print(z[-2])

c

In [ ]:
flowers = ("oleander", "jasmine", "rose", "lily")
if "jasmine" in flowers:
    print("Yes!")

Yes!

In [ ]:
flowers = ("oleander", "jasmine", "rose", "lily")
change = list(flowers)
change[3] = "tulips"
flowers = tuple(change)
print(flowers)

('oleander', 'jasmine', 'rose', 'tulips')

In [ ]:
x = ("Tina", "Mina", "Zina", "Dina")
y = list(x)
y.append("Moana")
x = tuple(y)
print(x)

('Tina', 'Mina', 'Zina', 'Dina', 'Moana')

In [ ]:
first = ('a', 'b', 'c')
second = ('d',)
first += second
print(first)

('a', 'b', 'c', 'd')

In [ ]:
x = ("Tina", "Mina", "Zina", "Dina")
y = list(x)
y.remove("Mina")
x = tuple(y)
print(x)

('Tina', 'Zina', 'Dina')

In [ ]:
x = ("Tina", "Mina", "Zina", "Dina")
del x
print(x)

NameError: name 'x' is not defined

In [ ]:
x = ("Tina", "Mina", "Zina", "Dina")
(black, white, red, purple) = x
print(black)
print(white)
print(black)
print(purple)

Tina
Mina
Tina
Dina

In [ ]:
cart = ("milk", "bread","crisps", "raspberries", "soaps", "pens")
(a , b, c, *d) = cart
print(a)
print(b)
print(c)
print(*d)

milk
bread
crisps
raspberries soaps pens

In [ ]:
food = ("ramen", "ricecake", "pickledplum", "salmon", "sushi", "cod-roe", "Egg tofu")
(x, *y, z) = food
print(x)
print(*y)
print(z)

ramen
ricecake pickledplum salmon sushi cod-roe
Egg tofu

In [ ]:
names = ("Tina", "Mina", "Zina", "Dina")
for x in names:
    print(x)

Tina
Mina
Zina
Dina

In [ ]:
x = ("Tina", "Mina", "Zina", "Dina")
for i in range(len(x)):
    print(x[i])

Tina
Mina
Zina
Dina

In [ ]:
x = ("Tina", "Mina", "Zina", "Dina")
for i in range(len(x)):
    print(x)

('Tina', 'Mina', 'Zina', 'Dina')
('Tina', 'Mina', 'Zina', 'Dina')
('Tina', 'Mina', 'Zina', 'Dina')
('Tina', 'Mina', 'Zina', 'Dina')

In [ ]:
x = ("Tina", "Mina", "Zina", "Dina")
i = 0
while i < len(x):
    print(x[i])
    i = i + 1

Tina
Mina
Zina
Dina

In [ ]:
first = ('a', 'b', 'c')
tpl = first * 2
print(tpl)

('a', 'b', 'c', 'a', 'b', 'c')

In [ ]:
t1 = (1, 2, 3, 4)
t2 = ('a', 'b', 'c', 'd')
t3 = t1 + t2
print(t3)

(1, 2, 3, 4, 'a', 'b', 'c', 'd')

In [ ]:
x = food.count(4)
print(x)

0

In [ ]:
x = food.index('sushi')
print(x)

4